<div>
	<form>
	<table class="example-full-width" cellspacing="0">
		<tr>
			<td><md-input-container class="example-full-width">
				<input mdInput placeholder="Nome">{{nome}}</md-input-container></td>
			<td><md-input-container class="example-full-width">
				<input mdInput placeholder="Cognome">{{cognome}}</md-input-container></td>
		</tr>
		<tr>
			<td><md-input-container class="example-full-width">
				<input mdInput placeholder="Data di nascita" type="date">{{dataNascita}} </md-input-container></td>
			<td><md-input-container class="example-full-width">
				<input mdInput placeholder="mail" type="email">{{mail}}</md-input-container></td>
		</tr>
		<tr>
		<td><button color="primary" md-raised-button id="saveBtn"
				 name="action">Save</button></td>
		</tr>
	</table>
	
</form>
</div>