<!-- <p> -->
<!--   login works! -->
<!-- </p> -->
<head>

</head>
<div>
	<form>
		<md-input-container> <input mdInput
			placeholder="Login" value="user" /> <br>
		<input mdInput placeholder="Password" value="password" type="password" />
		<button color="primary" md-raised-button (click)="login()" name="action">Login</button>

		</md-input-container>
	</form>
</div>
<!-- <md-button-toggle> ciao</md-button-toggle> -->
<!--   <input mdInput placeholder="Favorite food" value="Sushi"> -->
<!-- </md-input-container> -->